@import '../abstracts/_gradients';

.Login {
  align-items: center;
  background-image: $gradient-one;
  background-size: cover;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;

  .LoginForm {
    margin-left: 4rem;
  }
}

.Login-picture-container {
  height: 700px;
  padding: 3rem;
  width: 700px;
}

.Login-picture-container img {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.Login-wave {
  bottom: 0;
  opacity: 0.8;
  position: fixed;
  width: 100%;
  z-index: 0;
}

.Login-wave-upsidedown {
  opacity: 0.2;
  position: fixed;
  top: 0;
  transform: rotate(180deg);
  width: 100%;
  z-index: 0;
}

@media screen and (max-width: 1170px) {
  .Login {
    .LoginForm {
      margin-left: 0;
    }
  }

  .Login-picture-container {
    display: none;
  }
}
