@import '../abstracts/_mixins';
@import '../abstracts/_gradients';

.Results {
  align-items: center;
  background-image: $gradient-one;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  justify-content: center;
  width: 100vw;
}

.Results-info {
  @include box(strech);
  width: 300px;
  z-index: 1;
}

@media screen and (max-height: 800px) {
  .Results {
    padding-top: 6rem;
    padding-bottom: 3rem;
  }
}
