.IndividualRanking {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  width: 400px;
}

.IndividualRanking-avatar {
  border-radius: 50%;
  height: 35px;
  margin-right: 1rem;
  width: 35px;
}

.IndividualRanking-profile {
  align-items: center;
  display: flex;
  flex-grow: 2;
  justify-content: flex-start;
}

.IndividualRanking-rank {
  width: 100px;
}

.IndividualRanking-score {
  display: flex;
  justify-content: flex-end;
  width: 100px;
}
