.LoginForm {
  align-items: center;
  background-color: var(--primary-color);
  border: 3px solid var(--text-icons);
  border-radius: var(--container-radius);
  display: flex;
  flex-flow: column nowrap;
  margin-left: 4rem;
  padding: 2.5rem;
  z-index: 1;
}

.LoginForm-logo {
  margin-bottom: 2rem;
  width: 200px;
}

.LoginForm h1 {
  font-weight: 400;
  margin-bottom: 2rem;
}

.LoginForm input {
  background-color: var(--primary-color);
  border: 1px solid var(--divider-color);
  border-radius: var(--input-buttons-radius);
  color: var(--text-icons);
  font-family: Play , sans-serif;
  font-size: 1rem;
  padding: 0.8rem 1.2rem 0.8rem 2.5rem;
}

.LoginForm label {
  margin-bottom: 1rem;
  position: relative;
}

.LoginForm-icon {
  align-items: center;
  color: var(--divider-color);
  display: flex;
  justify-content: center;
  left: 0.8rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.LoginForm button {
  align-items: center;
  background-color: var(--accent-color);
  border: 1px solid var(--text-icons);
  border-radius: var(--input-buttons-radius);
  color: var(--text-icons);
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  justify-content: center;
  margin-top: 1rem;
  padding: 0.8rem 1.2rem;
  text-align: center;
  width: 100%;
}

.LoginForm button span {
  margin-left: 0.5rem;
}

.LoginForm button:disabled {
  opacity: 0.5;
}

.LoginForm button:hover:not( :disabled ) {
  filter: brightness(120%);
}
