.Question {
  background-color: var(--primary-color);
  border: 3px solid var(--text-icons);
  border-radius: var(--container-radius);
  display: flex;
  flex-flow: column nowrap;
  padding: 2.5rem;
  transition: 400ms;
  width: 600px;
  z-index: 1;
}

.Question-loading-bubble {
  height: 200px;
  margin: 0 auto;
  width: 200px;
}

.Question h1 {
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.Question p {
  margin-bottom: 1rem;
}

.Question ul {
  display: flex;
  flex-flow: column nowrap;
}

.Question-option {
  align-items: center;
  background-color: var(--accent-color);
  border: 1px solid var(--text-icons);
  border-radius: var(--input-buttons-radius);
  color: var(--text-icons);
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  margin-top: 1rem;
  padding: 0.8rem 1.2rem;
  width: 100%;
}

.Question button:disabled {
  opacity: 0.5;
}

.Question button:hover:not( :disabled ) {
  filter: brightness(120%);
}

.Question-wrong {
  background-color: var(--secondary-color-pink);
}

.Question-right {
  background-color: var(--secondary-color-cyan);
}
