.ResultsMessage {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin-bottom: 2.5rem;
}

.ResultsMessage p {
  background-color: var(--primary-color-transparent);
  border-radius: var(--input-buttons-radius);
  color: var(--text-icons);
  font-size: 2rem;
  font-weight: 500;
  padding: 0.5rem;
}

.ResultsMessage-picture-container {
  height: 250px;
  padding: 2rem;
  width: 250px;
}

.ResultsMessage-picture-container img {
  height: 100%;
  object-fit: contain;
  width: 100%;
}
