@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: white;
  --primary-color-transparent: rgba(255, 255, 255, 0.346);
  --text-icons: #131313;
  --divider-color: #13131348;
  --secondary-color-purple: #3D24AA;
  --secondary-color-pink: #EF1290;
  --secondary-color-cyan: #00bfc3;
  --accent-color: #EFC82C;

  /* gradients */
  --gradient-one: linear-gradient(to right top, #3d24aa, #6f1ca9, #9411a6, #b303a1, #cf009b, #d93aa9);
  --gradient-two: linear-gradient(45deg, rgba(5,138,179,1) 57%, rgba(0,255,250,1) 100%);
  --gradient-three: linear-gradient(to right, #3ac02b, #44ad9b);

  /* border-radius */
  --input-buttons-radius: 0.6rem;
  --container-radius: 1rem;
}

#root {
  min-height: 100vh;
  min-width: 100vw;
}

body {
  margin: 0;
  font-family: Play , sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
